body {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    height: 768px;
    border: 2px solid black;
    padding: 0;
    margin-top: 64px;
}

.row {
    display: flex;
    gap: 0;
}

.square {
    width: 48px;
    height: 48px;
}
